.glitch {
  position: relative;
  color: white;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}

.glitch::before {
  animation: glitchTop 2s infinite linear alternate-reverse;
  color: #ff00c1; /* Top glitch color */
}

.glitch::after {
  animation: glitchBottom 1.5s infinite linear alternate-reverse;
  color: #00fff7; /* Bottom glitch color */
}
